APP_ENV=

JWT_SECRET_KEY=
JWT_ALGORITHM=

# MongoDB Settings
MONGO_URL=
MONGO_DB_NAME=

# Brevo Email Settings
MAIL_MAILER=smtp
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=a1442c001@smtp-brevo.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls

MAIL_FROM_ADDRESS="suty2689@gmail.com"
MAIL_FROM_NAME="Jobber City App"
BREVO_API_KEY=xsmtpsib-dd8517b2dab5a68ae6f3b08c861317e3c78244a9177c2ed43a00cdbeaa6ecb32-SI3DlfmEax9JhyCA

GOOGLE_CLIENT_ID=

MAX_LOGIN_ATTEMPTS=5
LOCKOUT_MINUTES=15
REQUIRE_ADMIN_OTP=False