# Web framework and ASGI server
fastapi
uvicorn

# Database
pymongo
motor

# Authentication
google-auth 
requests

httpx

# Environment and request handling
python-dotenv
python-multipart
pydantic_settings

# Authentication and security
PyJWT
argon2-cffi
# Storage and media
cloudinary

# Validation
email-validator

# Email
aiosmtplib

# Templating
jinja2 

# cv upload
pdfplumber
google-genai

# Real-time Chat
websockets
firebase-admin

weasyprint